/* #region debug */
/* .debug header {
    height: 50px;
    background-color: red;
} */

/* .debug #side_main {
    display: flex;
} */

/* .debug #left {
    width: 10%;
    background-color: blue;
} */

/* .debug #right {
    width: 90%;
    background-color: palegoldenrod;
} */

.debug .banner {
    height: 250px;
    background-color: lightsalmon;
}

.debug .right_body {
    height: 1000px;
    background-color: aqua;
}

.debug #classroom {
    height: 500px;
    background-color: lightgray;
}

.debug #faq {
    height: 300px;
    background-color: aquamarine;
}

.debug #todo {
    height: 300px;
    background-color: brown;
}

.debug #user_active {
    height: 600px;
    background-color: cornflowerblue;
}

/* #endregion debug */

/* #region utilities */
* {
    font-family: 'Roboto', sans-serif;
}

:root {
    --bo-primary: rgba(27, 114, 232, 1);
    --bo-notification: rgba(255, 143, 0, 1);
    --bo-light: rgba(248, 249, 250, 1);
    --bo-lighter: rgba(255, 255, 255, 1);
    --bo-search: rgba(229, 229, 229, 1);
    --bo-dark: rgba(5, 30, 52, 1);
}

.btn_student {
    color: var(--bo-lighter);
    background-color: var(--bo-primary);
    padding: 0.5rem;
    border: 1px solid white;
    border-radius: 5px;
}


/* #endregion utilities */

/* #region common */
body {
    height: 100vh;
    overflow-y: auto;
}

header {
    background-color: var(--bo-lighter);
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav {
    display: flex;
    align-items: center;
    height: 70px;
}

.sidebar {
    width: 70px;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--bo-dark);
    color: var(--bo-lighter);
    position: fixed;
    height: 100%;
    z-index: 1;
    top: 70px;
}

#side_main {
    position: absolute;
    top: 70px;
    left: 70px;
    width: calc(100% - 70px);
}

.banner {
    background-color: var(--bo-primary);
    color: var(--bo-lighter);
    padding: 0.5rem 1rem;
    /* height: 11vh; */
}

.first_row h2 {
    display: inline;
}

/* #endregion common */

/* #region header */
.logo {
    width: 15%;
    padding-left: 0.3rem;
}

.logo_mobile {
    height: 60px;
    width: 60px;
}

.logo_desktop {
    display: none;
}

.search {
    width: 75%;
}

.box {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    background-color: var(--bo-search);

}

.search_bar {
    border: none;
    background-color: var(--bo-search);
    color: grey;
    font-size: 14px;
}

.nav_icons {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.bell {
    color: var(--bo-notification);
}

.vanish {
    display: none;
    color: grey;
}

/* #endregion header */


/* #region sidebar */
.top_icons {
    height: 700px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 0;
    font-size: 20px;
    align-items: center;
}

.bottom_icons {
    padding: 2rem 0;
    font-size: 20px;
    text-align: center;
}

.shortcut {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
}

.shortcut_name {
    font-size: 18px;
    display: none;
}

/* #endregion sidebar */

/* #region main */

/* #region banner */
.back {
    background-color: rgb(18, 82, 173);
    padding: 0.2rem 0.5rem;
    border-radius: 15px;
    text-decoration: none;
    color: var(--bo-lighter);
}

.back_plus {
    background-color: rgb(18, 82, 173);
    padding: 0.4rem 0.5rem;
    border-radius: 20px;
    font-size: 10px;
}

.first_row {
    margin-top: 1rem;
    padding-bottom: 0.5rem;
}

.count {
    font-size: 30px;
}

/* #endregion banner */

/* #region classrooms */
.classrooms {
    border: 1px solid lightgray;

}

.title {
    background-color: var(--bo-light);
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid lightgray;
}

.next_class {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 1.5rem;
    border-bottom: 1px solid lightgray;

}

.name {
    width: 50%;
    font-size: 12px;

}

/* .date,
.roi, */
.status,
.action {
    width: 25%;
    text-align: center;
    font-size: 12px;
}

.date,
.roi {
    display: none;
}

.logo_class {
    width: 30px;
}

.done,
.process,
.failed {
    color: var(--bo-light);
    border-radius: 5px;
    padding: 0.2rem 0.3rem;
    font-size: 10px;
}

.done {
    background-color: green;
}

.process {
    background-color: orange;
}

.failed {
    background-color: red;
}

.action {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
}

.icon_action {
    color: gray;
    border: 1px solid grey;
    padding: 0.5rem;
    border-radius: 5px;
}

/* #endregion classrooms */

/* #endregion main */

/* #region footer */
/* #endregion footer */

/* #region media */
@media screen and (min-width:1200px) {

    .logo_mobile,
    .back_plus {
        display: none;
    }

    .logo_desktop,
    .vanish,
    .shortcut_name {
        display: inline-block;
    }

    .sidebar {
        width: 150px;
    }

    #side_main {
        left: 150px;

    }

    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .new_students {
        order: 3;
    }

    .blaze {
        order: 1;
    }

    .students {
        order: 2;
    }

    .date,
    .roi {
        display: inline-block;
    }

    .date,
    .roi,
    .status,
    .action {
        width: 10%;
        text-align: center;
        font-size: 12px;
    }
    .name{
        width: 60%;
    }
}

/* #endregion media */